.body,
.body-portfolio {
  font-family: "Raleway", "Roboto", sans-serif;
}
.web-logo {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}
.studio-logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}
.studio-logo-footer{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
flex: none;
order: 1;
flex-grow: 0;
cursor: pointer;
text-decoration: none;
}
.web-logo-footer{
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}
li {
  display: inline-block;
}
.studio-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style-type: none;
  text-decoration: none;
}
.portfolio-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style-type: none;
  text-decoration: none;
}
.contacts-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
  text-decoration: none;
}
.gmail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.strategy-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.strategy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.punctuality-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.punctuality-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.diligence-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.diligence-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.technologies-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.technologies-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.w-a-w-d {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.wawd-img-one {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2368.jpg);
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  order: 0;
  flex-grow: 0;
}
.wawd-img-two {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2225.jpg);
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.wawd-img-three {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(photo-1545235617-7a424c1a60cc.jpg);
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mark-img {
  width: 264px;
  height: 260px;
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.mark-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.mark-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.img-tom {
  width: 264px;
  height: 260px;
  background: url(img-2.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.tom-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.tom-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.img-camila {
  width: 264px;
  height: 260px;
  background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.camila-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.camila-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.img-daniel {
  width: 264px;
  height: 260px;
  background: url(confident-handsome-guy-posing-against-white-wall.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.daniel-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.daniel-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.menu-button-all {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.menu-button-web-site {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.menu-button-app {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.menu-button-design {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.menu-button-marketing {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.project-card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.project-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.studio-menu:hover {
  color: #4D5AE5;
}
.portfolio-menu:hover {
  color: #4D5AE5;
}
.contacts-menu:hover {
  color: #4D5AE5;
}
.gmail:hover {
  color: #4D5AE5;
}
.tel:hover {
  color: #4D5AE5;
}
.title-button:hover {
  color: #ffffff;
}
.menu-button-all:hover {
  color: #ffffff;
}
.menu-button-web-site:hover {
  color: #ffffff;
}
.menu-button-app:hover {
  color: #ffffff;
}
.menu-button-marketing:hover {
  color: #ffffff;
}
.menu-button-design:hover {
  color: #ffffff;
}
.menu-button-marketing:hover {
  color: #ffffff;
}
.studio-menu:focus{
  color: #4D5AE5;
}
.portfolio-menu:focus{
  color: #4D5AE5;
}
.contacts-menu:focus{
  color: #4D5AE5;
}
.gmail:focus{
  color: #4D5AE5;
}
.tel:focus{
  color: #4D5AE5;
}
.title-button:focus {
  color: #ffffff;
}
.menu-button-all:focus {
  color: #ffffff;
}
.menu-button-web-site:focus {
  color: #ffffff;
}
.menu-button-app:focus {
  color: #ffffff;
}
.menu-button-marketing:focus {
  color: #ffffff;
}
.menu-button-design:focus {
  color: #ffffff;
}
.menu-button-marketing:focus {
  color: #ffffff;
}